@page
@model CosmosDbCrudByRP.Pages.EnvironmentModel



<div>
    <span class="alert-dark"> Read the Environment from appsetting.json </span>
</div>


<br />
<hr />
<div>
    @{
        <h2 class="bg-success">Environment :@Model.EnvironmentName</h2>
    }
</div>

